@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

h2 {
  text-align: center;
  font-size: 40px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myDropzone {
  border: 4px dashed #ccc;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  border-radius: 20px;
  width: 50vw;
  height: 40vh;
}

.dz-message {
  font-size: 26px;
  font-family: "cwTeXYen", sans-serif;
  font-weight: 600;
}

/* #submit {
  cursor: pointer;
  font-size: 6px;
  font-weight: 400;
  padding: 3px 8px;
  border-radius: 5px;
  border: 1.5px solid #e2d5d5;
  display: block;
  margin-top: 100px;
  margin-left: 0px;
} */

.dropzone .dz-message a {
  font-size: 26px; /* Change this value to your desired font size */
}

.flex {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 100px;
}
