h1 {
  text-align: center;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myDropzone {
  border: 4px dashed #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
}

#submit {
  cursor: pointer;
  margin: 10px 10px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 100px;
}
