@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 1%;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myDropzone {
  border: 4px dashed #ccc;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  border-radius: 20px;
  width: 30vw;
  height: 40vh;
  cursor: pointer;
}

.dz-message {
  font-size: 20px;
  font-family: "cwTeXYen", sans-serif;
  font-weight: 200;
}

#myDropzone > .dz-preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* #submit {
  cursor: pointer;
  font-size: 6px;
  font-weight: 400;
  padding: 3px 8px;
  border-radius: 5px;
  border: 1.5px solid #e2d5d5;
  display: block;
  margin-top: 100px;
  margin-left: 0px;
} */
.dropzone .dz-preview .dz-image {
  width: 10vw;
  height: 10vh;
  text-align: center;
}

.dropzone .dz-message a {
  font-size: 6px; /* Change this value to your desired font size */
}

.dz-success-mark svg path {
  fill: #535353; /* Replace with your desired color */
  font-size: 10%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gap {
  gap: 1%;
}

.dropbox-padding {
  padding-top: 2%;
}

#upload-result > div > div > img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
